/* Modal container */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

    /* Modal content */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 600px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        /* Close button */
        .close-button {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;

            &:hover {
                color: #000;
            }
        }

        /* Form elements for both Add Note and Edit Note */
        form {
            display: none;
            /* Hide all forms by default */
        }

        /* Add Note form */
        #add-note-form {
            display: flex;
            flex-direction: column;

            /* Form elements */
            label {
                margin-top: 10px;
                width: 100%;
                /* Set label width to fill the container */
            }

            input,
            select,
            button {
                padding: 8px;
                margin: 5px 0;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 14px;
                width: 100%;
                /* Set input and select width to fill the container */
            }

            button {
                background-color: #007bff;
                color: #fff;
                cursor: pointer;

                &:hover {
                    background-color: #0056b3;
                }
            }
        }

        /* Edit Note form */
        #edit-note-form {
            display: flex;
            flex-direction: column;

            /* Form elements */
            label {
                margin-top: 10px;
                width: 100%;
                /* Set label width to fill the container */
            }

            input,
            select,
            button {
                padding: 8px;
                margin: 5px 0;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 14px;
                width: 100%;
                /* Set input and select width to fill the container */
            }

            button {
                background-color: #007bff;
                color: #fff;
                cursor: pointer;

                &:hover {
                    background-color: #0056b3;
                }
            }
        }

        /* Show the active form */
        #add-note-form.active,
        #edit-note-form.active {
            display: block;
        }
    }
}