$note-table-border-color: #ccc;
$note-table-header-bg: #f2f2f2;
$note-table-row-bg: #fff;

.summary-table-container{
    margin-top: 50px;
    border-radius: 3px;
        box-shadow: 0 0 10px rgba(118, 80, 13, 0.9);
        overflow: hidden;
        overflow-x: scroll;
}
.summary-table {
    width: 100vh;
    border-collapse: collapse;
    border: 1px solid $note-table-border-color;

    th,
    td {
        padding: 10px;
        border-bottom: 1px solid $note-table-border-color;
        text-align: center;
    }

    thead {
        background-color: $note-table-header-bg;
        font-weight: bold;
    }

    tbody {
        tr {
            background-color: $note-table-row-bg;
            &:nth-child(even) {
                background-color: $note-table-row-bg;
            }
        }
    }
}