<table class="note-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created</th>
      <th>Category</th>
      <th>Content</th>
      <th>Dates</th>
      <th>Edit</th>
      <th>Archive</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Note 1</td>
      <td>27.07.2023</td>
      <td>Task</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
      <td>2023-07-27</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Note 2</td>
      <td>2023-07-27</td>
      <td>Remember</td>
      <td>Pellentesque facilisis dapibus velit vel gravida.</td>
      <td>2023-07-27</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <!-- Add more rows as needed -->
  </tbody>
</table>
